<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Lists </title>
</head>
<body>
<ul>
<h6>Ingredients</h6>
<li>1/4 cup lemon juice</li>
<li>2 tablespoons salt, plus more as needed</li>
<li>4 bone-in chicken thighs</li>
<li>3 cups chopped onions</li>
<li>3 garlic cloves, minced</li>
<li>1 tablespoon peeled, minced fresh ginger (1/2-inch piece)water (optional)</li>
<li></li>1/4 cup butter</li>
<li>2 tablespoons paprika</li>
<li>1 cup berbere paste</li>
<li>3/4 cup chicken stock</li>
<li>1/4 cup red wine</li>
<li>1 teaspoon cayenne pepper, or to taste freshly ground black pepper</li>
<li>4 hard-boiled eggs, peeled injera bread or hot cooked rice, to serve</li>
</ul>
<
</body>
</html>